.activity {
    padding: 0 0 94px;

    &__title{
        margin-bottom: 50px;

        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;

        color: getColor('main');
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        position: relative;
        max-height: 294px;
    }

    &__absolute {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 370px;
        height: 70px;

        background: rgba(47, 48, 58, 0.8);
    }

    &__text {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: #FFFFFF;
    }

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: none;
    }
}
