.footer {
    padding: 60px 0;
    background-color: #2F303A;
}

.container--foter {
    display: flex;
    justify-content: space-between;
}

.contact-us {

    &__logo {
    @extend %logo;
}

    &__logo-part {
        color: #ffffff;
    }

    &__address {
        margin-top: 20px;
    }

    &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;

        color: getColor('foot-main');
    }

    &__item {
        margin-top: 9px;
    }

    &__list-link {
        margin-top: 9px;

        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);
    }
}

.connect {
    padding: 15px 0 0;

    &__title {
        margin-bottom: 20px;

        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: getColor('foot-main');
    }

    &__list {
        display: flex;

    }

    &__item {
        margin-right: 10px;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 44px;
        height: 44px;
        border-radius: 50%;

        background-color: rgba(255, 255, 255, 0.1);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover,
    &__link:focus {
        background-color: getColor('hover');
    }

    &__icon {
        width: 20px;
        height: 20px;

        fill: getColor('foot-main');
    }
}

.subscribe {
    padding: 15px 0 0;

    &__title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: getColor('foot-main');
    }

    &__email {
        margin-right: 12px;
        padding: 15px 0 15px 15px;
        width: 358px;

        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: #2F303A;
        color: getColor('foot-main');
    }

    &__email::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        display: flex;
        align-items: center;
        letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);
    }

    &__button {
        display: flex;
        align-items: center;
        text-align: center;

        padding: 10px 28px 10px 29px;

        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;


        letter-spacing: 0.06em;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;

        color: getColor('foot-main');
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
    }

    &__button:hover,
    &__button:focus {
        background-color: getColor('btn-hover');
    }

    &__icon {
        width: 24px;
        height: 24px;
    }
}

.subscribe__container {
    display: flex;
}

@media screen and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) {

}

