.hero {
    padding: 118px 0;

    background-color: #2f303a;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
        url(../../images/hero__bg.jpeg) center/cover no-repeat;

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../../images/hero_desktop-x2.jpeg) center/cover no-repeat;
    }

        &__header {
            margin-bottom: 30px;

            font-weight: 900;
            font-size: 26px;
            line-height: 1.61;
            letter-spacing: 0.06em;

            text-align: center;
            text-transform: uppercase;

            color: #FFFFFF;
        }
    }

    .container--hero {
        max-width: 360px;
    }

    .button {
        @extend %button;

        display: flex;

        margin: 0 auto;
        padding: 10px 32px;
    }

    // mobile
    @media screen and (max-width: 480px) {
        .hero {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
                url(../../images/mobile/hero/hero__mobile.jpeg) center/cover no-repeat;

            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../../images/mobile/hero/hero__mobile-x2.jpeg) center/cover no-repeat;

            }
        }
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        .hero {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
                url(../../images/tablet/hero/hero__tablet.jpeg) center/cover no-repeat;

            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../../images/tablet/hero/hero__tablet-x2.jpeg) center/cover no-repeat;

            }
        }
    }

        @media screen and (min-width: 769px) {
            .hero {
                padding: 200px 0;

                &__header {
                    font-size: 44px;
                    line-height: 1.36;
                }

                .container--hero {
                    max-width: 696px;
                }
            }
        }
