.team {
    padding: 60px 15px;
    background-color: #F5F4FA;



    &__title {
        margin-bottom: 50px;

        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;

        color: getColor('main');
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        margin-bottom: 30px;

        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    &__img {
        vertical-align: bottom;
    }

    &__container--inner {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__header {
        margin-bottom: 10px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
    }

    &__text {
        margin-bottom: 16px;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;

        color: getColor('secondary');
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 44px;
        height: 44px;
        border-radius: 50%;

        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover,
    &__link:focus {
        background-color: getColor('hover');
    }

    &__link:hover &__icon,
    &__link:focus &__icon {
        fill: #FFFFFF;
    }

    &__list-inner {
        display: flex;
        justify-content: center;
    }

    &__item-inner:not(:last-child) {
        margin-right: 10px;
    }

    &__icon {
        width: 20px;
        height: 20px;
        fill: #AFB1B8;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (max-width: 767px) {
    .team {

        &__list {
            display: block;
        }

        &__item:last-child {
            margin-bottom: 0;
        }

        &__img {
            width: 100%;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .team {

        &__item {
            width: 354px;
        }

        &__item:nth-last-of-type(-n+2) {
            margin-bottom: 0;
        }

        &__img {
            width: 100%;
        }
    }
}

@media screen and (min-width: 1200px) {
    .team {
        padding: 94px 0;

        &__item {
            margin-bottom: 0;
        }
    }
}
